
/* Your CSS Code here. */
.holder{
            width: 200px;
            display: grid;
            grid-template-columns: repeat(2,100px);
            grid-template-rows: repeat(2,100px);
            border: 2px solid black;
        }
        .item{
            border: 2px solid black;
        }